* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

/* ___ Header ___ */
Header {
    text-align: center;
    width: 100%;
    position: sticky;
    top: 0;
    margin-bottom: -12em;
    z-index: 999;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.3s;
}
/* container */
.header_container {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    margin: 0 auto;
    height: 190px;
    transition: 0.2s;
}
/* main logo */
.logo {
    margin: 0 3em;
    cursor: pointer;
}
.logo img {
    transition: 0.2s;
}
/* "navbar" links */
.header_container ul {
    display: flex;
    list-style: none;
}

.header_container ul li {
    margin: 2em;
    position: relative;
    transition: 0.2s;
}

.header_container ul li a {
    padding: 1em;
    cursor: pointer;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.header_container ul li a:hover {
    /* text-decoration: underline; */
    color: dodgerblue;
}

.header_container ul li a:hover::after {
    content: "★";
    position: absolute;
    width: 5px;
    height: 5px;
    bottom: -5px;
    right: 50%;
}

/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 70px;
    width: 70px;
}


/* burger menu */
#nav-toggle {
    position: absolute;
    top: 20px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 5px;
    height: 5px;
    width: 35px;
    background: rgb(255, 255, 255);
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
}

/* ___ body ___ */
/* HERO */
#hero {
    font-size: 26px;
    width: 100%;
    margin-top: 9em;
}
#page-bg-image {
    position: relative;
}
/* circus bg image for whole page */
#page-bg-image::before {
    content: "";
    position: absolute;
    background-image: url('kuvat/Circus-Restaurant.jfif');
    background-size: cover;
    background-attachment: fixed;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    filter: brightness(0.3) grayscale(70%);

}
#page-bg-image-container {
    position: relative;
}
/* container */
.hero_container {
    color: #fff;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    max-width: 1100px;
    height: 800px;
    font-family: Arial, Helvetica, sans-serif;
}

.hero_container h1 {
    font-family: 'Rye', serif;
    color: #50A0FF;
}

.hero_curved_text {
    max-width: 900px;
    margin: 0 auto;
}
.hero_curved_text img {
    width: 100%;
}

.hero_reviews {
    color: #ffe600;
    font-family: 'Pacifico';
    font-size: 17px;
    margin-top: -10px;
    margin-bottom: 50px;
    white-space: nowrap;
}

.curved_text {
    -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
.hero_circus-ball {
    width: 72px;
    height: 72px;
    margin: 0 auto;
    left: 0;
    right: 0;
    overflow: hidden;
    background: #fff;
    border-radius: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 23em;
}
.hero_circus-ball img {
    width: 90px;
    margin-bottom: 1px;
}
.test {
    margin-left: 90px;
}
.circus_frame {
    background-image: url('kuvat/circus-frame2.svg');
    position: absolute;
    background-size: contain;
    width: 95%;
    max-width: 850px;
    height: 485px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-top: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
}

.circus_frame h1 {
    font-size: 26px;
    font-family: 'Rye', serif;
    margin-bottom: 1.5em;
}

.frame_content {
    display: flex;
    width: 87%;
    margin: 0 auto;
    height: 250px;
}
.frame_info {
    padding-right: 35px;
    display: flex;
    align-items: center;
}
.frame_info p {
    font-size: 17px;
    text-align: left;
    font-family: 'EB Garamond', serif;
    color: rgb(221, 221, 221);

}

.frame_tickets {
    display: flex;
    flex-direction: column;
}

.lippu {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    margin: 10px;
    box-shadow: 0px 5px 10px rgb(66, 66, 66);
    width: 360px;
    height: 55px;
    font-size: 15px;
    white-space: nowrap;
    margin-right: 0;
}
.lippu_date {
    background-color: #FF7A00;
    width: 13%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 14px;
}
.lippu_info {
    background-color: lightgrey;
    display: flex;
    color: #000;
    padding: 10px;
    width: 65%;
    justify-content: space-between;
}
.lippu_aika-ja-paikat {
    position: relative;
}
.lippu_info-paikat {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 14px;
    font-weight: bold;
}
.lippu_time {
    float: right;
    width: 3.8ch;
    overflow: hidden;
}

.applyred {
    color: red;
}
.applygreen {
    color: green;
}

.disabled::before {
    background-color: var(--background-color);
    --background-color: red;
    color: yellow;
}
#disabled {
    background-color: red;
}

.lippu_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background-color);
    width: 25%;
    border: none;
    outline: none;
    position: relative;
    cursor: pointer;

    --background-color: rgb(10, 161, 10);
    --border-size: 2px;
    --accent-color: rgb(0, 28, 105);

    color: #fff;
    text-decoration: none;
}

.lippu_btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background-color: var(--background-color);
    border-radius: 50%;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.5);
  }

  .lippu_btn:hover::before,
  .lippu_btn:focus::before {
    transform: scale(0);
  }

  .lippu_btn {
    z-index: 1;
    overflow: hidden;
    background-color: var(--accent-color);
    transition: color 500ms ease-in-out;
  }

  .lippu_btn:hover,
  .lippu_btn:focus {
    color: rgb(255, 255, 255);
  }

  .frame_button {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-left: 15px;
  }

  .frame_button button {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgb(224, 43, 43);
    border: 3px solid lightgray;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
  }
  .frame_button button:hover {
    background-color: rgb(170, 31, 31);

  }

/* ___ about section ___ */

#about {
    /* font-family: 'Rye', serif; */
    font-family: 'EB Garamond', serif;
    font-size: 24px;
    color: #fff;
    text-align: center;
    margin-top: 4em;
    padding-bottom: 5em;
}

.about_container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
}

.about_container h1 {
    font-family: 'Rye', serif;
    margin-bottom: 2em;
    color: #50A0FF;
}

.about_us {
    line-height: 40px;
    width: 75%;
    margin: 0 auto;
}

/* section for contact info and embedded map */
.contact_and_map {
    display: flex;
    margin-top: 5em;
    justify-content: center;
}
.map {
    width: 550px;
    height: 300px;
}
.contact_info {
    text-align: left;
    font-size: 19px;
    display: flex;
    margin-top: 20px;
    margin-right: 30px;
}

/* alaindeksi / footer */
footer {
    background-color: #222;
    background-image: url('kuvat/circus-pattern.svg');
    background-repeat: repeat-x;
    padding: 2em;
    text-align: center;
    color: white;
}
.footer_logo {
    margin: 2em 0;
}
.footer_copyright {
    margin-top: 50px;
}

/* ___ responsiveness ___ */

@media all and (max-width: 900px) {
    
    /* header/yläindeksi */
    header .logo {
        position: absolute;
        left: 0;
    }
    .header_container ul {
        right: 0;
        position: absolute;
        margin-right: 2em;
    }
    .header_container ul:first-child {
        margin-right: 15em;
    }
    
    .header_container ul li {
        margin: 0;
    }

    /* hero */
    #hero {
        margin-top: 7em;
    }
}

@media all and (max-width: 750px) {
    
    /* hero */
    .hero_container {
        width: 80%;
    }
    .hero_reviews {
        margin-top: 5px;
    }

    /* tickets frame */
    .circus_frame {
        background-image: url('kuvat/circus-frame-tall.svg');
    }
    .circus_frame h1 {
        margin-bottom: 20px;
        margin-top: 20px;
        font-size: 21px;
    }
    .frame_info {
        padding: 0px;
        margin-bottom: -20px;
    }
    .frame_content {
        display: block;
    }
    .frame_tickets {
        width: 360px;
        margin: 0 auto;
    }
    .lippu {
        margin: 0 auto;
        margin-top: 20px;
    }
    .frame_button {
        margin-left: 0px;
    }
    .hero_circus-ball {
         width: 51px;
        height: 51px;
    }
    
    .hero_circus-ball img {
        width: 64px;
        margin-bottom: 0.6px;
    }

    /* about */
    #about {
        margin-top: 0em;
    }
    .about_container h1 {
        font-size: 28px;
    }
    .about_us {
        width: 90%;
    }
    .about_us-hide {
        display: none;
    }
    .contact_and_map {
        display: block;
    }
    .contact_info {
        text-align: center;
        margin: 0 auto;
        display: block;
        margin-bottom: 20px;
    }
    .map {
        width: 99%;
        margin: 0 auto;
    }

}

@media all and (max-width: 550px) {
    /* hero */
    #hero {
        margin-top: 6em;
    }
    .hero_container {
        width: 95%;
        height: 700px;
    }
    .hero_reviews {
        font-size: 14px;
        margin-bottom: 0px;
    }
    /* tickets frame */
    .circus_frame {
        padding-top: 3em;
    }
    .circus_frame h1 {
        font-size: 17px;
    }
    .frame_info p {
        font-size: 13px;
    }
    .lippu_btn {
        font-size: 10px;
    }
    .frame_tickets {
        width: 100%;
        margin-top: 10px;
    }
    .lippu {
        width: 260px;
        height: 45px;
        font-size: 12px;
        margin-top: 13px;
    }
    .lippu_date {
        font-size: 12px;
    }
    .lippu_info-paikat {
        font-size: 11px;
    }
    .frame_button {
        width: 260px;
        margin: 0 auto;
        margin-top: 13px;
        
    }
    .frame_button button {
        font-size: 10px;
        padding: 7px 13px;
        border-radius: 10px;
    }
    .hero_circus-ball {
        margin-top: 19em;
    }
    /* about */
    .about_container {
        width: 98%;
    }
    .about_container h1 {
        font-size: 20px;
    }
    .about_us {
        width: 95%;
        font-size: 19px;
        line-height: 28px;
    }

    /* contact and map */
    .contact_info {
        font-size: 15px;
    }

    /* footer */
    .footer_logo img {
        width: 120px;
    }
}

/* hamburger menu resposniveness */
@media only screen and (max-width: 495px) {
    .header_container {
        width: 90%;
    }
    .nav-mobile {
        display: block;
        right: 6%;
        margin-top: 8px;
    }
    .nav-list {
        position: absolute;
        width: 100vw;
        top: 160px;
        background-color: rgb(83, 46, 46);
        box-shadow: 0 10px 20px -18px rgb(0, 0, 0);
        display: block;
    }
    .nav-list:nth-child(1) {
        top: 80px;
    }
    .header_container ul {
        margin-right: 0em;
    }
    .header_container .nav-list {
        display: none;
    }
    .header_container ul:first-child {
        margin-right: 0em;
    }
    .nav-list li a {
        line-height: 30px;
        transition: 0.3s;
    }
    .nav-list li a:hover {
        background-color: lightgray;
    }
    .header_container ul li a:hover::after {
        content: " ";
    }
    .nav-dropdown {
        position: static;
    }
}
/* hamburger menu nav list repsonsiveness */
@media screen and (min-width: 496px) {
    .nav-list {
        display: flex !important;
    }
}


@media all and (max-width: 460px) {
    /* hero */
    .hero_reviews {
        margin-bottom: 20px;
    }
    .circus_frame {
        background-image: url('kuvat/circus-frame-mobile.svg');
    }
    .frame_button {
        margin-top: 7%;
        
    }
    .hero_circus-ball {
        margin-top: 20em;
    }
    /* contact and map */
    .map {
        margin-bottom: -2.5em;
    }
}

@media all and (max-width: 310px) {
    /* hero */
    .hero_reviews {
        font-size: 3.5vw;
    }
    /* tickets */
    .lippu {
        width: 100%;
        height: 45px;
        font-size: 4vw;
    }
}
